* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
.line {
  background-color: #e0e0e0;
  height: 1px;
  width: 100vw;
}
body {
  box-sizing: border-box;
}
.logo {
  width: 80px;
  height: 80px;
}
.conteiner {
  padding: 30px;
  max-width: 1327px;
  margin: 0 auto;
}

.header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation_items {
  display: flex;
  gap: 10vw;
}

.header_links {
  display: flex;
  gap: 20px;
}

.link_map {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main_img {
  display: flex;
  margin: 20px auto;
  align-items: center;
  width: 100%;
}
.main_content {
  margin: 50px auto;
  max-width: 1000px;
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
}
.left_text,
.title {
  font-size: 40px;
  font-weight: 400;
}
.right_text {
  color: #aaaaaa;
  font-size: 24px;
}
.gallery_content {
  align-items: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  .gallery_item {
    img {
      width: 100%;
    }
  }
}
.text_area {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}
.partners {
  margin: 50px 0px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
}

/* Slider */
.carousel {
  margin: 100px 0;
  width: 100%;
  overflow: hidden;
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    img {
      width: 100%;
      display: block;
    }
  }
}
.textarea {
  margin: 50px auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
  .card {
    display: flex;
    img {
      width: 60%;
    }
    .card_text {
      width: 30%;
      margin: auto;
      font-weight: 400;

      h5 {
        font-size: 32px;
      }
      p {
        font-size: 16px;
        color: #aaaaaa;
      }
    }
  }
}
.order_frame {
  background-color: #f2f2f2;
  max-width: 1000px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 50px auto;
  align-items: center;
}
.order_icons {
  margin: 0 auto;
  display: flex;
  gap: 100px;
  align-items: baseline;
  .order_icon {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.btn {
  background-color: #46856e;
  color: white;
  padding: 20px 40px;
  cursor: pointer;
  &:hover {
    box-shadow: 4px 4px 20px black;
  }
}
footer {
  padding: 100px;
  color: white;
  background-color: #2b2b2b;
  display: flex;
  justify-content: space-around;
}
.footer_img {
  display: flex;
  gap: 20px;
}
.about {
  display: flex;
  flex-direction: column;
  gap: 10px;
  h5 {
    margin-bottom: 15px;
  }
}
@media (max-width: 1000px) {
  .partners {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 700px) {
  .conteiner {
    padding: 10px;
  }
  .navigation_items {
    flex-direction: column;
    gap: 10px;
  }
  .partners {
    display: none;
  }
  .text_area {
    margin: 0;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .card {
      display: flex;
      flex-direction: column;
      img {
        width: 100%;
      }
      .card_text {
        width: 100%;
        margin: 10px auto;
        font-weight: 400;

        h5 {
          font-size: 16px;
        }
        p {
          font-size: 10px;
          color: #aaaaaa;
        }
      }
    }
  }
  .element1 {
    order: 1;
  }
  .element2 {
    order: 2;
  }
  .order_frame {
    background-color: #f2f2f2;
    max-width: 1000px;
    padding: 10px 0;
    /* height: 450px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px auto;
    align-items: center;
  }
  footer {
    padding: 20px;
  }
}
